<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i"
    rel="stylesheet">
  <link href="/css/mediumish.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/profile.css">
  <title>Document</title>
  <style>
    .temp3{
      font-size: x-large;
    }
    .temp1
    {
      display: flex;
    justify-content: space-evenly;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="main-body">
      <nav>
        <div class="nav-container">
          <div class="brand">Travely</div>
          <div class="responsive-toggle">
            <i class="fas fa-bars"></i>
          </div>
        </div>
        <div class="links">
          <ul>
            <%if(user){%>
              <li><a href="/auth/logout">Logout</a></li>
              <%}else{%>
                <li><a href="/auth/login">Sign-in</a></li>
                <%}%>
          </ul>
        </div>
      </nav>
    </div>
    
  </div>
  <div class="temp1">
    <% if (book.length) { %>
        <% for( let i = 0; i < book.length; i++ ) { %>
            <div class="card" style="width: 20rem;">
                <div class="card-body temp3">
                    <div class="temp1">
                    <h5 class="card-title">Booking details</h5>
                        <a href="/api/book?_id=<%=book[i]._id%>">Update Status</a>
                </div>
                    <h6 class="card-subtitle mb-2 text-muted"><pre>Name     :<%=book[i].tourist%></pre> </h6>
                    <h6 class="card-subtitle mb-2 text-muted"><pre>Email    :<%=book[i].touristemail%></pre></h6>
                    <h6 class="card-subtitle mb-2 text-muted"><pre>Phone No :<%=book[i].touristNo%></pre></h6>
                    <h6 class="card-subtitle mb-2 text-muted"><pre>Destiny  :<%=book[i].fort %></pre></h6>
                    <h6 class="card-subtitle mb-2 text-muted"><pre>Date     :<%=book[i].date %></pre> </h6>
                    <% if (book[i].flag) { %>
                        <h6 class="card-subtitle mb-2 text-muted"><pre>Status     :Completed</pre> </h6>
                    <% } else { %>
                        <h6 class="card-subtitle mb-2 text-muted"><pre>Status     :Pending</pre> </h6>

                    <% }  %>
                </div>
              </div> 
        <% } %>
    <% } else { %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Oppps! you are away from adventure</h5>
            </div>
          </div> 
    <% }  %>
  
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>