<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/flash.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Travel Agency</title>
</head>

<body>
    <div class="scrollToTop"><i class="fas fa-chevron-up"></i></div>
    <div class="container">
        <nav class="d-flex" >
            <div class="nav-container">
                <div class="brand">Travely</div>
                <div class="responsive-toggle">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div class="links">
                <ul>
                    <%if(user){%>
                        <li><a href="/">Home</a></li>
                        <li><a href="/sites/fort">Explore fort</a></li>
                        <li><a href="/user/profile">Profile</a></li>
                        <li><a href="/auth/logout">Logout</a></li>
                        <%}else{%>
                            <li><a href="/auth/guide_reg">Guide</a></li>
                            <li><a href="/auth/login">Sign-in</a></li>
                            <li><a href="/auth/register">Register</a></li>
                            <%}%>
                </ul>

            </div>
        </nav>
        <%- include('./layouts/flash-message') %>
            <section class="starter">
                <div class="content">
                    <p class="subTitle">Best Destinations around the world</p>
                    <h1 class="title">
                        Travel, <span>enjoy</span> and live a new and full life
                    </h1>
                    <div class="description">
                        Awaken To A Different World.
                    </div>
                </div>
            </section>
            <div class="d-flex justify-content-around">
                <% if (book.length) { %>
                    <% for( let i = 0; i < book.length; i++ ) { %>
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <div class="d-flex justify-content-around">
                                <h5 class="card-title">Booking details</h5>
                                    <a href="/api/book?_id=<%=book[i]._id%>">Update Status</a>
                            </div>
                                <h6 class="card-subtitle mb-2 text-muted"><pre>Name     :<%=book[i].Full_name%></pre> </h6>
                                <h6 class="card-subtitle mb-2 text-muted"><pre>Email    :<%=book[i].guide%></pre></h6>
                                <h6 class="card-subtitle mb-2 text-muted"><pre>Phone No :<%=book[i].Phone_No%></pre></h6>
                                <h6 class="card-subtitle mb-2 text-muted"><pre>Address  :<%=book[i].Addrs %></pre></h6>
                                <h6 class="card-subtitle mb-2 text-muted"><pre>Destiny  :<%=book[i].fort %></pre></h6>
                                <h6 class="card-subtitle mb-2 text-muted"><pre>Date     :<%=book[i].date %></pre> </h6>
                                <% if (book[i].flag===1) { %>
                                    <h6 class="card-subtitle mb-2 text-muted"><pre>Status     :Completed</pre> </h6>
                                <% } else { %>
                                    <h6 class="card-subtitle mb-2 text-muted"><pre>Status     :Pending</pre> </h6>
        
                                <% }  %>
                            </div>
                          </div> 
                    <% } %>
                <% } else { %>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Oppps! you are away from adventure</h5>
                        </div>
                      </div> 
                <% }  %>
              
            </div>
          
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="java script/script.js"></script>
</body>

</html>