<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Mediumish - A Medium style template by WowThemes.net</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i"
		rel="stylesheet">
	<link href="/css/mediumish.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/guidetable.css">
	<link rel="stylesheet" href="/css/flash.css">
</head>

<body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="container">
			<a class="navbar-brand">
				<div class="nav-container">
					<div class="brand">Travely</div>
					<div class="responsive-toggle">
					</div>
				</div>
			</a>
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/auth/logout">Log-out</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-xs-12">
				<div class="sep">
				</div>
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="mainheading">
				<div class="row post-top-meta">
					<div class="col-md-10">
						<span class="post-date">22 July 2017</span><span class="dot">
					</div>
				</div>
				<h1 class="posttitle">Raigad</h1>
			</div>
			<img class="featured-image img-fluid" src="/images/raigad3.jpg" alt="">
			<div class="article-post">
				<p>
					The Raigad fort is not just a tourist spot; it is a sacred place of pilgrimage which holds the
					imprints of the grand vision of Hindavi Swarajya as
					cherished by Chhatrapati Shivaji.
					While most of its parts are in ruins now, the fort still
					boasts of the brave history of Marathas. After capturing the Raigad Fort, Chhatrapati Shivaji
					Maharaj renovated and named it as the capital of Maratha kingdom.
				</p>
			</div>
		</div>
	</div>
	<!-- <div class="graybg">
		<div class="container">
			<div class="row listrecent listrelated">
				<div class="col-md-4">
					<div class="card">
						<img class="img-fluid img-thumb" src="/images/raigad1.png" alt="">
						<div class="card-block">
							<h2 class="card-title">Raigad</h2>
							<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb">
									</span>
									<span class="author-meta">
										<span class="post-date">22 July 2017</span><span class="dot"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="img-fluid img-thumb" src="/images/raigad4.png" alt="">
						<div class="card-block">
							<h2 class="card-title">Raigad</h2>
							<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb">
									</span>
									<span class="author-meta">
										<span class="post-date">22 July 2017</span><span class="dot"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="img-fluid img-thumb" src="/images/raigad3.png" alt="">
						<div class="card-block">
							<h2 class="card-title">Raigad</h2>
							<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb">
									</span>
									<span class="author-meta">
										<span class="post-date">22 July 2017</span><span class="dot"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- <div class="container">
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="mainheading">
				<div class="row post-top-meta">
					<div class="col-md-10">
						<span class="post-date">22 July 2017</span><span class="dot">
					</div>
				</div>
				<h1 class="posttitle">Local Product</h1>
			</div>
			<div class="article-post">
				<p>
					The Raigad fort is not just a tourist spot; it is a sacred place of pilgrimage which holds the
					imprints of the grand vision of Hindavi Swarajya as
					cherished by Chhatrapati Shivaji.
					While most of its parts are in ruins now, the fort still
					boasts of the brave history of Marathas. After capturing the Raigad Fort, Chhatrapati Shivaji
					Maharaj renovated and named it as the capital of Maratha kingdom.
				</p>
			</div>
		</div>
	</div> -->
	<div class="graybg">
		<div class="container">
			<div class="row listrecent listrelated">
				<div class="col-md-4">
					<div class="card">
						<img class="img-fluid img-thumb" src="/images/raigad1.png" alt="">
						<div class="card-block">
							<h2 class="card-title">Raigad</h2>
							<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb">
									</span>
									<span class="author-meta">
										<span class="post-date">22 July 2017</span><span class="dot"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="img-fluid img-thumb" src="/images/raigad4.png" alt="">
						<div class="card-block">
							<h2 class="card-title">Raigad</h2>
							<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb">
									</span>
									<span class="author-meta">
										<span class="post-date">22 July 2017</span><span class="dot"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="img-fluid img-thumb" src="/images/raigad3.png" alt="">
						<div class="card-block">
							<h2 class="card-title">Raigad</h2>
							<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb">
									</span>
									<span class="author-meta">
										<span class="post-date">22 July 2017</span><span class="dot"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="container">
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="mainheading">
				<div class="row post-top-meta">
					<div class="col-md-10">
						<span class="post-date">22 July 2017</span><span class="dot">
					</div>
				</div>
				<h1 class="posttitle">Raigad</h1>
			</div>
			<div class="article-post">
				<p>
					The Raigad fort is not just a tourist spot; it is a sacred place of pilgrimage which holds the
					imprints of the grand vision of Hindavi Swarajya as
					cherished by Chhatrapati Shivaji.
					While most of its parts are in ruins now, the fort still
					boasts of the brave history of Marathas. After capturing the Raigad Fort, Chhatrapati Shivaji
					Maharaj renovated and named it as the capital of Maratha kingdom.
				</p>
			</div>
		</div>
	</div> -->
	<!-- <div class="container">
		<input type="search" oninput="filter_table(this, 'table_filter')" class="form_control"
			placeholder="Search your guide">
		<table class="_table table_sort">
			<thead>
				<tr>
					<th>SR</th>
					<th>NAME</th>
					<th>PHONE</th>
					<th>ADDRESS</th>
					<th width="50px">WEBSITE</th>
				</tr>
			</thead>
			<tbody id="table_filter">
				<tr>
					<td>1</td>
					<td>AKASH</td>
					<td>9834511677</td>
					<td>MUNDHEWADI</td>
					<td>
						<div class="action_btn click_ripple_shine success ">
							<a href="/html/guide_infromation.html" class="click_ripple_shine danger" title="book">
								<i class="fa-fa fa-smile-o"></i>
							</a>
						</div>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>RUSHIKESH</td>
					<td>9834511677</td>
					<td>KOLHAPUR</td>
					<td>
						<div class="action_btn click_ripple_shine success">
							<a href="#" class="click_ripple_shine danger" title="book">
								<i class="fa-fa fa-smile-o"></i>
							</a>
						</div>
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td>PARTHES</td>
					<td>9834511677</td>
					<td>SANGLI</td>
					<td>
						<div class="action_btn click_ripple_shine success ">
							<a href="#" class="click_ripple_shine danger" title="book">
								<i class="fa-fa fa-smile-o"></i>
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div> -->
	<%- include('./layouts/flash-message') %>
	<div class="container">
		<div class="footer">
			<div class="clearfix">
				<h1 align="center" class="posttitle">Guide information</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<input type="search" oninput="filter_table(this, 'table_filter')" class="form_control"
			placeholder="Search your guide">
		<table class="_table table_sort">
			<thead>
				<tr>
					<th>Sr No</th>
					<th>NAME</th>
					<th>PHONE</th>
					<th>ADDRESS</th>
					<th width="50px">BOOK</th>
				</tr>
			</thead>
			<tbody id="table_filter">
			<% for( let i = 0; i < guide.length; i++ ) { %>
					<tr>
						<td> <%= i +1%>  </td>
						<td><%= guide[i].Full_name %> </td>
						<td><%= guide[i].Phone_No  %> </td>
						<td><%= guide[i].Addrs %> </td>
						<td>
							<div class="action_btn click_ripple_shine success ">
								<a href="/sites/fort/raigad/guide_info?email=<%=guide[i].Username%>" class="click_ripple_shine danger" title="book">
									<i class="fa-fa fa-smile-o"></i>
								</a>
							</div>
						</td>
					</tr>
					<% } %>
				</tbody>
			<!-- <tbody id="table_filter">
				<tr>
					<td>1</td>
					<td>AKASH</td>
					<td>9834511677</td>
					<td>MUNDHEWADI</td>
					<td>
						<div class="action_btn click_ripple_shine success ">
							<a href="/info/guide_info" class="click_ripple_shine danger" title="book">
								<i class="fa-fa fa-smile-o"></i>
							</a>
						</div>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>RUSHIKESH</td>
					<td>9834511677</td>
					<td>KOLHAPUR</td>
					<td>
						<div class="action_btn click_ripple_shine success">
							<a href="#" class="click_ripple_shine danger" title="book">
								<i class="fa-fa fa-smile-o"></i>
							</a>
						</div>
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td>PARTHES</td>
					<td>9834511677</td>
					<td>SANGLI</td>
					<td>
						<div class="action_btn click_ripple_shine success ">
							<a href="#" class="click_ripple_shine danger" title="book">
								<i class="fa-fa fa-smile-o"></i>
							</a>
						</div>
					</td>
				</tr>
			</tbody> -->
		</table>
	</div>
	<script src="/java script/guidetable.js"></script>
	<script src="/java script/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
		integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous">
	</script>
	<script src="/java script/bootstrap.min.js"></script>
	<script src="ie10-viewport-bug-workaround.js"></script>
	<script src="/java script/mediumish.js"></script>
</body>

</html>